.navbar-custom {
    background-color: #74B836;
    height: 88px;
    width: 100%;


}

.button {
    border-radius: 20px;
    font-family: 'DM Sans';
    line-height: 24px;
    font-weight: 700;
    font-size: 18px;
    color: black;
    font-style: normal;
    padding-top: 4px;
    padding-left: 17px;
    
    height: 32px;
    text-align: center;
    font: bold;

}

.button-ETM {
    border-radius: 20px;
    font-family: 'DM Sans';
    line-height: 24px;
    font-weight: 700;
    font-size: 18px;
    background-color: #154391;
    color: white;
    font-style: normal;
    padding-top: 4px;
    padding-left: 17px;
    height: 32px;
    text-align: center;
    font: bold;
    margin-left: 10px;
    border-color: #154391;

}
.card-btn{
    
   
    border-radius: 51px;
    font-family: DM Sans;
   font-size: 18px;
    font-style: normal;
font-weight: 700;
line-height: 24px;
letter-spacing: 0px;
text-align: left;

      
}
.card-text { 
  font-size: 32px;
  line-height: 40px;
  font-style: normal;
  font-family: 'DM Sans';
  font-weight: 500;
  color: black;
  font:bold;
 
}

.tags{  
    background-color:#74B836;
    border: 1px solid transparent;
    border-color: white;
    border-radius: 11.5px;
    font-family: 'DM Sans';
    font-size: 10px;
    font-weight: 700;
    line-height: 13.02px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 9px;
    padding-left: 9px;
}

.carousel-control-next,
.carousel-control-prev

{
    top:105%
}

.carousel-indicators-numbers > li {
    
     text-indent: 0;
     text-align: center;
      width: 11px;
      height: 24px;
      border: none;
      color: black;
      background-color: #D8D8D8;
      
      
      
      
}
  .carousel-indicators{
    bottom:-15%;
    left:-87%
  }
.carousel-indicators > li {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    
  }
.carousel-control-next
{
    right:-7%
}
.carousel-control-prev
{
    left:87%
}
.cards {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    margin-top: 32px;
}